/* 캐러셀 시작 */

.container {
    margin: 0;
    padding: 0;
}

#carousel-example-generic {
    margin-bottom: 30px;
}

.carousel-inner>.item>img {
    min-width: 100%;
}

.carousel-control {
    background: none !important;
}

.item {
    width: 100%;
    height: 100%;
}

/* 캐러샐 끝 */

/* 추천상품 시작 */

.gal_sug_main {
    text-align: center;
}

.gal_sug {
    display: inline-block;
    width: 30%;
    margin: 3px;
}

.gal_sug_img {
    width: 100%;
}

#img_sug {
    max-width: 100%;
    height: auto;
}

/* 추천상품 끝 */

/* 타임세일 시작 */

.gal_best_main {
    text-align: center;
}

.gal_best {
    display: inline-block;
    width: 30%;
    margin: 3px;
}

/* 타임세일 끝 */

/* 글리피콘, 버튼, 기타옵션 시작 */

#glyp_gal {
    float: left;
    color: #ff0000;
    font-size: 15px;
    margin: 3px;
}

#glyp_list {
    font-size: 30px;
    color: #f39c12;
}

.t_btn {
    margin-top: 30px;
}

#sale_h3 {
    margin-top: 0;
}

/* 글리피콘, 버튼, 기타옵션 끝 */

/* 광고 배너 시작 */

.img_banner {
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.img_banner img {
    width: 30%;
}

/* 광고 배너 끝 */

/* 포토리뷰 시작 */

.pr_box {
    float: left;
    width: 50%;
    padding: 5px;
}

.container h4 {
    text-align: center;
}

.pr_in_box {
    border: 1px solid #777;
    padding: 5px;
}

.img_size {
    width: 100%;
}

.icon_size {
    height: 8px;
    font-size: 10px;
}

.btn {
    padding-right: 50px;
    padding-bottom: 20px;
    width: 50px;
    height: 25px;
    font-size: 12px;
}

table {
    width: 98%;
    margin: auto;
}

.cate_select {
    width: 100%;
}

.h_input {
    width: 100%;
    height: 20px;
}

hr {
    margin: 2px;
    padding: 0;
}

.pagination>.active>span {
    background-color: #777;
    border-color: #777;
}

a {
    color: #777;
}

.index_btn {
    width: 70%;
    height: 50px;
    text-align: center;
    font-size: 15px;
    padding: 0;
    margin-top: 20px;
}