.container_in {
	margin-bottom: 50px;
}

/* 캐러셀 시작 */
.container_in {
	margin-top: 5px;
	padding: 0;
}

#carousel-example-generic {
	margin-bottom: 50px;
}

.carousel-inner>.item>img {
	min-width: 100%;
}

.carousel-control {
	background: none !important;
}

.item {
	width: 100%;
	height: 100%;
}

/* 캐러샐 끝 */

/* 추천상품 시작 */
.swiper-pagination {
	padding-top: 30px; -
	-swiper-theme-color: #FF8F83;
	/** 아래 쩜 컬러임 */
}

.gal_sug_main {
	text-align: center;
	margin-bottom: 20px;
}

.gal_sug {
	display: inline-block;
	width: 30%;
	margin: 3px;
	margin: 3px 3px 20px 3px;
}

.gal_sug_img {
	width: 100%;
	margin-bottom: 10px;
}

#img_sug {
	max-width: 100%;
	height: auto;
}

#sale_h3 {
	color: #ff8f83;
}

.gal_sug_main hr {
	margin: 2px 0 2px 0;
}

/* 추천상품 끝 */

/* 타임세일 시작 */
.gal_best_main {
	text-align: center;
}

.gal_best {
	display: inline-block;
	width: 30%;
	margin: 3px;
}

.gal_best_main img {
	margin-top: 10px;
}

.gal_best_main hr {
	margin: 2px 0 2px 0;
}

.gal_best_main button {
	margin: 40px 0 20px 0;
}

/* 타임세일 끝 */

/* 글리피콘, 버튼, 기타옵션 시작 */
#glyp_gal {
	float: left;
	color: #ff8f83;
	font-size: 15px;
	margin: 3px;
}

#glyp_list {
	font-size: 30px;
	color: #ff8f83;
}

.t_btn {
	margin-top: 30px;
}

#sale_h3 {
	margin-top: 0;
}

/* 글리피콘, 버튼, 기타옵션 끝 */

/* 광고 배너 시작 */
.img_banner {
	display: inline-block;
	text-align: center;
	margin: 20px 0 30px 0;
}

.img_banner img {
	width: 30%;
}

/* 광고 배너 끝 */

/* 포토리뷰 시작 */
.pr_box {
	float: left;
	width: 50%;
	padding: 5px;
}

.pr_box hr {
	margin: 5px;
}

.review h3 {
	text-align: center;
	color: #ff8f83;
}

.pr_box {
	float: left;
	width: 50%;
	padding: 5px;
}

.pr_in_box {
	border: 1px solid #FF8F83;
	padding: 5px;
}

.container .img_size {
	width: 100%;
}

.container .icon_size {
	height: 8px;
	font-size: 10px;
}

.pr_box .btn {
	padding-right: 50px;
	padding-bottom: 20px;
	width: 50px;
	height: 25px;
	font-size: 12px;
	background-color: #ffc7c1;
	border-color: #ffc7c1;
	color: #fff;
}

.container_1 hr {
	margin: 2px;
	padding: 0;
}

.container_1 h5 {
	color: #FF8F83;
}

.pagination>.active>span {
	background-color: #FF8F83;
	border-color: #FF8F83;
}

.container a {
	color: #777;
}

.index_btn {
	width: 70%;
	height: 50px;
	text-align: center;
	font-size: 15px;
	padding: 0;
	margin-top: 20px;
}

/** */
.glyphicon-heart-click {
	color: #000;
}

/** */