/** 헤더영역 */

.modal-header {
    min-height: 110px;
    padding: 10px;
}

.modal-header img {
    width: 160px;
    float: left;
}

.modal-header button {
    float: right;
    margin: 5px;
}

.buttons {
    margin-top: 50px;
}

/** 바디영역 */
.modal-body {
    min-height: 200px;
    padding: 10px;
}

.panel-default {
    width: 96%;


}

.panel-heading {
    width: 100%;
}

.margin