<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BbsMapper">

	<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
	<resultMap id="bbsMap" type="kr.co.poppy.model.Bbs">
		<result property="bbsno" column="bbsno" />
		<result property="bbstype" column="bbstype" />
		<result property="bbstitle" column="bbstitle" />
		<result property="bbscontent" column="bbscontent" />
		<result property="qnasec" column="qnasec" />
		<result property="qnapw" column="qnapw" />
		<result property="rvlike" column="rvlike" />
		<result property="regdate" column="regdate" />
		<result property="editdate" column="editdate" />
		<result property="memno" column="memno" />
		<result property="goodsno" column="goodsno" />
	</resultMap>


	<!-- 단일행 조회를 위한 기능 정의 -->
	<!-- 공지사항 글 보기 페이지 -->
	<select id="selectItem" parameterType="kr.co.poppy.model.Bbs"
		resultMap="bbsMap">
		SELECT bbsno, bbstype, bbstitle, bbscontent,
		b.regdate,
		b.editdate, b.memno,
		m.username, m.userid
		FROM bbs b
		INNER JOIN members m
		ON b.memno=m.memno
		WHERE bbstype=#{bbstype} and bbsno=#{bbsno}
	</select>

	<!-- 다중행 조회를 위한 기능 정의 -->
	<!-- QNA -->
	<select id="selectList" parameterType="kr.co.poppy.model.Bbs"
		resultMap="bbsMap">
		SELECT bbsno, bbstype, bbstitle, bbscontent, qnasec, qnapw, rvlike,
		b.regdate, b.editdate,
		b.memno, m.username, m.userid
		FROM bbs b
		INNER JOIN members m ON b.memno=m.memno

		<where>
			bbstype=#{bbstype} 
			<if test="bbscontent != null and bbscontent != ''">
				and bbscontent LIKE concat('%', #{bbscontent}, '%')
			</if>
			<if test="bbstitle != null and bbstitle != ''">
				and bbstitle LIKE concat('%', #{bbstitle}, '%')
			</if>
			<if test="username != null and username != ''">
				and username LIKE concat('%', #{username}, '%')
			</if>
		</where>
		ORDER BY bbsno DESC
		<if test="listCount > 0">
			LIMIT #{offset}, #{listCount}
		</if>
	</select>
	
	<!-- 다중행 조회를 위한 기능 정의 -->
	<!-- 상품상세페이지 / 포토리뷰 글 목록 페이지 -->
	<select id="selectList_goods" parameterType="kr.co.poppy.model.Bbs"
		resultMap="bbsMap">
		SELECT bbsno, bbstype, bbstitle, bbscontent, rvlike,
		b.regdate, b.editdate, b.memno, b.goodsno, m.username, m.userid
		FROM bbs b
		INNER JOIN members m ON b.memno=m.memno 
		WHERE bbstype=#{bbstype}
		
	</select>
	
	<!-- 후기관리 글 목록 페이지 -->
	<select id="selectList_myrv" parameterType="kr.co.poppy.model.Bbs"
		resultMap="bbsMap">
		SELECT b.bbsno, b.bbstype, b.bbstitle, b.bbscontent, b.memno, b.goodsno,
		i.imgsno, i.imgname, i.imgpath, i.imgext, i.imgtype, i.goodsno,
		m.memno, m.userid
		FROM bbs b
		INNER JOIN imgs i
		INNER JOIN members m
		<where>
			b.bbsno=i.bbsno AND b.memno=m.memno AND imgtype="C" AND bbstype="C"
			<if test="bbstitle != null and bbstitle != ''">
				and bbstitle LIKE concat('%', #{bbstitle}, '%')
			</if>
		</where>
	</select>
	
	<!-- 데이터 수 조회를 위한 기능 정의 -->
	<select id="selectCountAll"
		parameterType="kr.co.poppy.model.Bbs" resultType="int">
		SELECT COUNT(*)
		FROM bbs b
		INNER JOIN members m ON b.memno=m.memno

		<where>
			bbstype=#{bbstype}
			<if test="bbscontent != null and bbscontent != ''">
				and bbscontent LIKE concat('%', #{bbscontent}, '%')
			</if>
			<if test="bbstitle != null and bbstitle != ''">
				and bbstitle LIKE concat('%', #{bbstitle}, '%')
			</if>
			<if test="username != null and username != ''">
				and username LIKE concat('%', #{username}, '%')
			</if>
			<if test="userid != null and userid != ''">
				and userid LIKE concat('%', #{userid}, '%')
			</if>
		</where>
	</select>

	<!-- 데이터 저장을 위한 기능 정의 -->
	<insert id="insertItem" parameterType="kr.co.poppy.model.Bbs"
		useGeneratedKeys="true" keyProperty="bbsno">
		INSERT INTO bbs 
		(bbstype, bbstitle, bbscontent, qnasec, qnapw, rvlike regdate, editdate, memno, goodsno) 
		VALUES (#{bbstype}, #{bbstitle}, #{bbscontent}, #{qnasec}, #{qnapw}, #{rvlike}, #{regdate}, #{editdate}, #{memno}, #{goodsno})
	</insert>

	<!-- 데이터 삭제를 위한 기능 정의 -->
	<delete id="delete_cmt_item"
		parameterType="kr.co.poppy.model.Comments">
		DELETE FROM comments WHERE bbsno=#{bbsno}
	</delete>
	<delete id="deleteItem" parameterType="kr.co.poppy.model.Bbs">
		DELETE FROM Bbs WHERE
		bbsno=#{bbsno}
	</delete>
	<!-- 회원 탈퇴 시 게시글 삭제 기능 -->
	<delete id="delete_members_item"
		parameterType="kr.co.poppy.model.Bbs">
		DELETE FROM bbs WHERE memno=#{memno}
	</delete>
	
	<!-- 데이터 갱신을 위한 기능 정의 -->
	<update id="updateItem" parameterType="kr.co.poppy.model.Bbs">
		UPDATE bbs SET
		bbstitle=#{bbstitle}, bbscontent=#{bbscontent}, editdate=#{editdate}, qnasec=#{qnasec}, qnapw=#{qnapw}, memno=#{memno}
		WHERE bbsno=#{bbsno}
	</update>

	<!-- 특정 멤버를 참조하는 Bbs데이터를 모두 참조 해제한다. -->
	<update id="unsetMembers" parameterType="kr.co.poppy.model.Bbs">
		UPDATE bbs SET
		memno=null WHERE memno=#{memno}
	</update>
	<!-- 특정 상품을 참조하는 bbs데이터를 모두 참조 해제한다. -->
	<update id="unsetGoods" parameterType="kr.co.poppy.model.Bbs">
		UPDATE bbs SET
		goodsno=null WHERE goodsno=#{goodsno}
	</update>

</mapper>