<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="GoodsForRvMapper">

	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap type="kr.co.poppy.model.GoodsForRv" id="GoodsForRvMap">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
		<result property="goodsno" column="goodsno" />
		<result property="gcode" column="gcode" />
		<result property="gname" column="gname" />
		<result property="ginfo" column="ginfo" />
		<result property="gprice" column="gprice" />
		<result property="gsale" column="gsale" />
		<result property="gdate" column="gdate" />
		<result property="cate1" column="cate1" />
		<result property="cate2" column="cate2" />
		<result property="regdate" column="regdate" />
		<result property="editdate" column="editdate" />
		<result property="heartno" column="heartno" />
		<result property="memno" column="memno" />
		<result property="gdoption" column="gdoption" />
		<result property="gddetailno" column="gddetailno" />
		<result property="imgname" column="imgname" />
		<result property="imgpath" column="imgpath" />
		<result property="imgext" column="imgext" />
		<result property="imgtype" column="imgtype" />
		<result property="bbstype" column="bbstype" />
	</resultMap>
	<!-- 다중행 조회(작성가능한 리뷰)를 위한 기능 정의 -->
	<select id="selectList" parameterType="kr.co.poppy.model.GoodsForRv"
		resultMap="GoodsForRvMap">
		SELECT *, i.imgname, i.imgpath, i.imgext from goods g inner join imgs i on g.goodsno = i.goodsno 
		WHERE g.gcode IN (SELECT odgcode from orderdetail 
		WHERE orderno IN (SELECT orderno from orders WHERE memno=#{memno}))
		and not g.goodsno in(SELECT b.goodsno FROM bbs b WHERE bbstype="C" 
		and memno=#{memno} and g.goodsno in (SELECT g.goodsno from goods 
		WHERE g.gcode IN (SELECT odgcode from orderdetail WHERE orderno IN (SELECT orderno from orders WHERE memno=#{memno}))));
	</select>
	<!-- 관심상품(좋아요) 다중행 조회 -->
	<select id="selectLikeList" parameterType="kr.co.poppy.model.GoodsForRv"
		resultMap="GoodsForRvMap">
		SELECT *, i.imgname, i.imgpath, i.imgext from goods g 
		inner join heart h on g.goodsno=h.goodsno
		inner join imgs i on g.goodsno=i.goodsno 
		WHERE g.goodsno in (SELECT h.goodsno from heart WHERE h.memno=#{memno})  
	</select>
	<!-- 관심상품(좋아요) 디테일 다중행 조회 -->
	<select id="selectLikeListDetail" parameterType="kr.co.poppy.model.GoodsForRv"
		resultMap="GoodsForRvMap">
	SELECT * from goods g 
	inner join heart h on g.goodsno=h.goodsno 
	inner join goodsdetail d on g.goodsno=d.goodsno
	where g.goodsno in (SELECT h.goodsno from heart WHERE h.memno=#{memno}); 
	</select>
</mapper>