<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MembersMapper">

<!-- Beans 클래스 이름과(id)과 패키지명(type)을 명시한다. -->
<resultMap type="kr.co.poppy.model.Members" id="membersMap">
<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
<result property="memno" column="memno" />
<result property="userid" column="userid" />
<result property="userpw" column="userpw" />
<result property="username" column="username" />
<result property="userphone" column="userphone" />
<result property="useremail" column="useremail" />
<result property="regdate" column="regdate" />
<result property="editdate" column="editdate" />
</resultMap>
<!-- 회원 가입을 위한 멤버테이블 INSERT -->
<insert id="add_members"
	parameterType="kr.co.poppy.model.Members"
	useGeneratedKeys="true" keyProperty="memno">
	INSERT INTO members(userid, userpw, username, userphone, useremail, regdate, editdate, agreeno) 
	VALUES ("#{userid}", "#{userpw}", "#{username}", "#{userphone}", "#{useremail}", now(), now(), #{agreeno});
</insert>
<!-- 특정 멤버의 정보를 수정 -->
<update id="edit_members"
	parameterType="kr.co.poppy.model.Members">
	UPDATE members SET userid=#{userid}, userpw=#{userpw}, username=#{username}, userphone=#{userphone}, useremail=#{useremail}, regdate=#{regdate},
		editdate=now(), agreeno=#{agreeno} WHERE memno=#{memno};
</update>
<!-- 회원탈퇴  -->
<delete id="remove_members"
	parameterType="kr.co.poppy.model.Members">
	DELETE FROM members WHERE memno=#{memno};
</delete>
<!-- 특정 회원의 정보 조회 -->
<select id="get_members_item"
	parameterType="kr.co.poppy.model.Members"
	resultMap="members">
	SELECT * from members WHERE memno=#{memno};
</select>
</mapper>