<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PointsMapper">

<!-- Beans 클래스 이름과(id)과 패키지명(type)을 명시한다. -->
<resultMap type="kr.co.poppy.model.Points" id="pointsMap">
<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
<result property="pointno" column="pointno" />
<result property="avpoint" column="avpoint" />
<result property="napoint" column="napoint" />
<result property="pointtype" column="pointtype" />
<result property="regdate" column="regdate" />
<result property="editdate" column="editdate" />
<!-- 외부참조 컬럼 -->
<result property="memno" column="memno" />
<result property="orderno" column="orderno" />
</resultMap>

	<!-- 구매가 일어났을 때 적립금 발생 -->
	<insert id="add_points"
			parameterType="kr.co.poppy.model.Points"
			useGeneratedKeys="true" keyProperty="pointno">
			INSERT INTO points (avpoint, napoint, pointtype, regdate, editdate, memno, orderno)
				VALUES (#{avpoint}, #{napoint}, #{pointtype}, #{regdate}, #{editdate}, #{memno}, #{orderno} )
	</insert>
	
	<!-- 시간이 지나고 미가용 -> 가용으로 갱신 ** 추후 수정 필요 ** -->
	<update id="edit_av_points"
			parameterType="kr.co.poppy.model.Points">
		UPDATE points SET avpoint=#{avpoint}, napoint=#{napoint}, editdate=#{editdate} WHERE pointno=#{pointno}
	</update>
	
	<!-- 회원이 적립금을 사용했을 때의 업데이트 (삭제 대용)  -->
	<update id="edit_use_points"
			parameterType="kr.co.poppy.model.Points">
		UPDATE points SET avpoint=#{avpoint}, editdate=#{editdate} WHERE pointno=#{pointno}
	</update>
	
	<!-- 구매 상품의 적립금 표시를 위한 단일행 조회 -->
	<select id="select_order_item"
	parameterType="kr.co.poppy.model.Points"
	resultMap="pointsMap">
	SELECT * from points WHERE orderno=#{orderno};
	</select>
	
	<!-- 회원의 적립금 정보를 표시하기 위한 다중행 조회 -->
	<select id="select_members_list"
	parameterType="kr.co.poppy.model.Points"
	resultMap="pointsMap">
	SELECT * from points WHERE memno=#{memno};
	</select>
	
		<!-- 데이터 수 조회를 위한 기능 정의 -->
	<select id="selectCountAll"
		parameterType="kr.co.poppy.model.Points" resultType="int">
		SELECT COUNT(*)
		FROM points
		<where>
			<if test="memno != 0 and memno != ''">
				memno = #{memno}
			</if>
		</where>
	</select>
	
	<!-- 회원 탈퇴 시 탈퇴한 회원을 참조하는 적립금의 memno (null) 업데이트 -->
	<update id="unsetMembers"
			parameterType="kr.co.poppy.model.Points">
		UPDATE points SET memno=null WHERE memno=#{memno}
	</update>
	<!-- 전체 회사가 보유중인 회원들의 적립금 (관리자 페이지 관련이므로 일단 보류) -->
</mapper>