.col-xs-6 {
	padding: 0;
	margin-top: 20px;
}

.content .container {
	width: 96%;
	margin: auto;
}

.panel-title6 {
	padding: 10px 8px;
	font-size: 16px;
	background: #FF6261;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.panel-title2 a {
	color: #fff;
}

.panel-header2 {
	padding: 10px 8px;
	font-size: 16px;
	background: #ffc7c1;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.panel-body2 {
	padding: 0;
	border: 1px solid #ffc7c1;
}

.selectbtn {
	border-bottom: 1px solid #ffc7c1;
	width: auto;
	padding: 16px 30px;
}

.cart-move {
	padding: 16px 30px;
}

.table {
	margin: auto;
	margin-bottom: 15px;
}

.table thead {
	border-left: 1px solid #FF6261;
	border-right: 1px solid #FF6261;
	background-color: #FF6261;
	color: #fff;
	font-weight: bold;
}

.table-header {
	border-left: 1px solid #ff6261;
}

.table-header2 {
	border-right: 1px solid #ff6261;
}

tr {
	border: 1px solid #ffc7c1;
}

td {
	border-bottom: 1px solid #ffc7c1;
}

.td-mny {
	text-align: right;
}

.pay {
	margin: auto;
}

.pay .btn2 {
	padding: 10px 15px;
	width: 49%;
	margin-bottom: 50px;
}

.pay a {
	text-decoration: none;
}

button {
	background: #fff;
	border: 1px solid #777;
}

#myModal2 {
	padding-top: 50%;
}

.cart-modal {
	padding: 10px;
}

.modal-footer2 .btn2 {
	width: 65px;
	height: 34px;
	float: right;
	margin-left: 5px;
}

.modal-header2 {
	height: 50px;
}

.modal-body2 {
	height: 50px;
}

.modal-footer2 {
	height: 40px;
}