 html,
 body {
     padding: 0;
     margin: 0;
 }

 * {}

 .required {
     color: #DD5850;
 }

 hr {
     margin-top: 0;
     width: 100%;
 }

 /** 아코디언 클릭이벤트시 화살표 transform 회전 */
 .rotate1 {
     -webkit-transform: rotate(180deg);
 }

 .icon-rotate1 {
     -webkit-transition-duration: 1s;
 }

 .rotate2 {
     -webkit-transform: rotate(180deg);

 }

 .icon-rotate2 {
     -webkit-transition-duration: 1s;
 }

 .rotate3 {
     -webkit-transform: rotate(180deg);

 }

 .icon-rotate3 {
     -webkit-transition-duration: 1s;
 }

 .rotate4 {
     -webkit-transform: rotate(180deg);

 }

 .icon-rotate4 {
     -webkit-transition-duration: 1s;
 }

 .rotate5 {
     -webkit-transform: rotate(180deg);

 }

 .icon-rotate5 {
     -webkit-transition-duration: 1s;
 }

 .rotate6 {
     -webkit-transform: rotate(180deg);

 }

 .icon-rotate6 {
     -webkit-transition-duration: 1s;
 }

 /** 아코디언 클릭이벤트시 화살표 transform 회전 끝 */

 #title {
     top: 0;
     left: 0;
     right: 0;
     height: 58px;
     background-color: #FF8F83;
     color: #eee;
 }

 button {
     border: 0;
     outline: 0;
 }

 #title h4 {
     margin: 0 0;
     padding-top: 17px;
 }

 .panel-group .panel {
     height: 100%;
 }

 .panel .panel-title a {
     height: 54px;
     padding-top: 17.5px;
 }

 .panel-heading {
     padding: 0;
 }

 .panel-heading a {
     padding: 10px 15px;
     display: block;
     text-decoration: none;
 }

 .content {
     padding-bottom: 50px;
 }

 .panel-body {
     margin: 0;
     padding: 0;
 }

 /** 배송지 시작 */

 .panel-body li {
     width: 50%;
 }

 .panel-body a {
     text-align: center;
     font-weight: bold;
     text-decoration: none;
     color: #000;
 }

 .nav-tabs>li>a {
     margin: 0;
 }

 .name #delivery-info-name {
     display: block;
     padding: 15px 10px;
     padding-bottom: 20px;
     font-size: 18px;
 }

 .recents {
     height: 180px;
     padding: 15px 15px;
     position: relative;
 }

 .recent {
     height: 180px;
     display: inline;
 }

 .recent .address {
     font-size: 16px;
     margin-bottom: 20px;
     padding: 0 10px;
 }

 .recent .phone {
     font-size: 16px;
     margin-bottom: 20px;
     padding: 0 10px;
 }

 .side-right {
     position: absolute;
     right: 20px;
     top: 20px;
 }

 .side-right #recent-address-list {
     width: 90px;
     height: 36px;
     color: #FF8F83;
     background-color: #ffffff;
     border: 1px solid #FF8F83;
 }

 .side-right #recent-address-list:hover {
     color: #fff;
     background-color: #ff6261;
 }

 .tab-content .recent-addr {
     display: block;
     position: relative;
     height: 210px;
     padding: 15px;
 }

 .recent-addr .heading {
     color: #999999;
     height: 30px;
     font-size: 17px;
     font-weight: 250;
     padding-top: 7px;
     padding-left: 15px;
 }

 .recent-addr .addr-content {
     padding: 0;
     padding-top: 15px;
     border-top: 1px solid #ddd;
 }

 .recent-addr li {
     width: 100%;
 }

 .recent-addr .name {
     display: block;
     font-size: 18px;
     margin-bottom: 10px;
     padding: 0 10px;
 }

 .recent-addr .description {
     padding: 0 10px;
 }
 
 .recent-addr .description .addr2 {
     margin-top: 5px;
     display: block;
 }

 .recent-addr #choice-modify {
     border: 0px;
     color: #ff8f83;
     background: #fff;
     font-weight: bold;
     position: absolute;
     right: 20px;
     top: 80px;
 }

 .recent-addr #choice-modify:hover {
     font-size: 15px;
     color: #ff6261;
 }

 .recent-addr #choice-select {
     width: 30px;
     height: 30px;
     position: absolute;
     bottom: 50px;
     right: 20px;
 }

 .recent-addr .sideRight {
     position: absolute;
     right: 20px;
     top: 20px;
 }

 .recent-addr .sideRight button {
     width: 54px;
     height: 32px;
     color: #ff8f83;
     background: #fff;
     font-weight: bold;
     border: 1px solid #ff8f83;
 }

 .form-group {
     text-align: center;
     margin: auto;
 }

 .form-group #selbox {
     width: 90%;
     height: 40px;
     position: relative;
     bottom: 10px;
     border: 1px solid #ddd;
     background-color: #fff;
     padding-left: 5px;
 }

 .form-group #selboxDirect {
     width: 90%;
     height: 60px;
     border: 1px solid #ddd;
     margin-bottom: 10px;

 }

 .same-addr {
     padding-left: 15px;
     padding-right: 15px;
     padding-top: 10px;
     font-size: 16px;
 }

 .same-addr .same {
     display: inline;
     width: 50%;
 }

 .same-addr #same-addr1 {
     position: relative;
     top: 4px;
     margin-right: 3px;
     width: 18px;
     height: 18px;
 }

 .same-addr label {
     font-weight: lighter;
     font-size: 15px;
 }

 .same-addr .new {
     float: right;
     width: 50%;
 }

 .same-addr #same-addr2 {
     position: relative;
     top: 4px;
     margin-left: 10px;
     margin-right: 3px;
     width: 18px;
     height: 18px;
 }


 .new-addr {
     padding-left: 15px;
     padding-right: 15px;
     margin-top: 15px;
     margin-bottom: 20px;
 }

 .na-name .receiver {
     display: inline;
     font-weight: lighter;
     color: #777;
 }

 .na-name .required {
     float: left;
 }

 .na-name #delivery-name {
     width: 100%;
     height: 30px;
     margin-top: 5px;
     border: 1px solid #ddd;
 }

 .na-address-head {
     margin-top: 10px;
 }

 .na-address .receiver {
     display: inline;
     font-weight: lighter;
     color: #777;
 }

 .na-address .required {
     float: left;
 }

 .na-address-body #zonecode {
     width: auto;
     height: 30px;
     margin-top: 5px;
     border: 1px solid #ddd;
 }

 input::placeholder {
     color: #ddd;
     font-size: 12px;
     padding-left: 5px;
 }

 .na-address-body #address-btn {
     height: 30px;
     font-size: 12px;
     color: #FFF;
     background-color: #FF8F83;
     border: 1px solid #FF8F83;
     margin-top: 5px;
     vertical-align: top;
 }

 .na-address-body #address-btn:hover {
     background-color: #ff6261;
 }

 .na-address-body #address {
     width: 100%;
     height: 30px;
     margin-top: 8px;
     border: 1px solid #ddd;
 }

 .na-address-body #detail-address {
     width: 100%;
     height: 30px;
     margin-top: 10px;
     border: 1px solid #ddd;
 }

 .na-address-body .addInfo {
     margin-top: 8px;
     color: #777;
 }


 .na-address .na-phone {
     margin-top: 10px;
 }

 .na-phone #delivery-phone {
     width: 100%;
     height: 30px;
     margin-top: 8px;
     border: 1px solid #ddd;
 }

 .na-email {
     margin-top: 10px;
 }

 .na-email #delivery-email {
     width: 100%;
     height: 30px;
     margin-top: 8px;
     border: 1px solid #ddd;
 }

 .form-group2 {
     text-align: center;
     margin: auto;
 }

 .form-group2 #selbox2 {
     width: 90%;
     height: 40px;
     position: relative;
     bottom: 10px;
     border: 1px solid #ddd;
     background-color: #fff;
     padding-left: 5px;
 }

 .form-group2 #selboxDirect2 {
     width: 90%;
     height: 60px;
     border: 1px solid #ddd;
     margin-bottom: 10px;
 }

 .addr-save {
     border-top: 1px solid #eee;
     height: 50px;
 }

 .addr-save input {
     margin-left: 15px;
     width: 18px;
     height: 18px;
     position: relative;
     top: 10px;
 }

 .addr-save span {
     margin-left: 3px;
     position: relative;
     top: 5px;
 }

 /** 배송지 끝 */

 /** 주문상품 시작 */

 .prd-info .prd-box {
     display: flex;
     padding-top: 20px;
     padding-left: 15px;
 }

 .prd-info .thumbnail {
     height: 85px;
 }

 .prd-info #prd-title {
     margin: auto;
     width: 92%;
 }

 .prd-info a {
     color: #000;
 }

 .cencel-btn {
     margin-right: 15px;
     height: 30px;
 }

 .prd-box #prd-del {
     width: 26px;
     height: 24px;
     padding: 0;
     font-size: 24px;
     text-align: center;
     background-color: #fff;
     border: 1px solid #FF8F83;
 }

 #prd-del span {
     color: #FF8F83;
     position: relative;
     bottom: 6px;
 }

 .modal {
     padding-top: 70%;
 }

 .modal-footer button {
     color: #fff;
     background-color: #FF8F83;
 }

 .modal-footer .btn {
     width: 65px;
     height: 34px;
 }

 .prd-box .prd-li {
     padding: 0;
     margin-top: 5px;
     padding-left: 10px;
 }

 .prd-info .prd-foot {
     width: 92%;
     height: 40px;
     color: #ff6261;
     ;
     font-weight: bold;
     background-color: #f8f9fa;
     border: 1px solid #fff;
     margin-left: 15px;
     margin-right: 15px;
     margin-bottom: 10px;
     padding-top: 10px;
     padding-left: 10px;
     padding-right: 10px;
 }

 .prd-info .pt-right {
     float: right;
     color: #ff6261;
     font-size: 16px;
 }

 /** 주문상품 끝 */
 /** 할인/부가 결제 시작 */
 .discount .head {
     font-size: 15px;
 }

 .panel-body .discount {
     padding: 25px 25px;
 }

 .discount .coupon {
     float: right;
 }

 .discount .discount-re {
     clear: both;
     margin-top: 10px;
 }

 .discount-re .discount-count {
     float: right;
     margin-right: 10px;
     padding-top: 5px;
 }

 .discount-re .btn {
     float: right;
     color: #FF8F83;
     border: 1px solid #FF8F83;
 }

 .discount-re .btn:hover {
     color: #fff;
     background-color: #ff6261;

 }

 .clear:after {
     content: '';
     display: block;
     float: none;
     clear: both;
 }

 .total {
     height: 54px;
     padding: 15px 25px;
     color: #ff6261;
     border-top: 1px solid #ddd;
     background-color: #eff1f4;
 }

 .total .head {
     font-size: 16px;
     font-weight: bold;
     display: inline;
 }

 .total .total-sum {
     float: right;
     font-size: 16px;
 }

 /** 할인/부가 결제 끝 */

 /** 결제 정보  */

 .pay-info {
     padding: 30px;
     padding-bottom: 15px;
 }

 .pay-info .pay-content {
     margin: 5px;
     margin-bottom: 15px;
 }

 .pay-info .pay-con1 {
     font-size: 15px;
     width: 100;
     display: flex;
 }

 .pay-info .pay-con1 h5 {
     width: 50%;
     margin: 0;

 }

 .pay-info .pay-con1 span {
     width: 50%;
     text-align: right;
 }

 .pay-info .pay-con2 {
     font-size: 15px;
     width: 100;
     display: flex;
     margin-top: 8px;
 }

 .pay-info .pay-con2 h5 {
     width: 50%;
     margin: 0;
 }

 .pay-info .pay-con2 span {
     width: 50%;
     text-align: right;
 }

 .pay-info .pay-con3 {
     font-size: 15px;
     width: 100;
     display: flex;
     margin-top: 8px;
 }

 .pay-info .pay-con3 h5 {
     width: 50%;
     margin: 0;

 }

 .pay-info .pay-con3 span {
     width: 50%;
     text-align: right;
 }

 .pay-info .pay-price {
     width: 100;
     height: 40px;
     padding: 10px;
     margin-top: 8px;
     margin-left: -10px;
     margin-right: -10px;
     background-color: #eff1f4;
     color: #ff6261;
     display: flex;
 }

 .pay-info .pay-price h4 {
     margin: 0;
     width: 50%;
     font-size: 17px;
     font-weight: bold;
     padding-left: 5px;
 }

 .pay-info .pay-price strong {
     width: 50%;
     font-size: 17px;
     font-weight: bold;
     text-align: right;
     padding-right: 5px;
     position: relative;
     bottom: 3px;
 }

 /** // 결제 정보 끝*/

 /** 결제수단 시작 */
 .pay-box {
     padding: 15px;
 }

 .pay-method {
     padding: 0;
     margin: 0;
     height: 160px;
     border: 1px solid #ddd;
 }

 .panel-body .pay-box li {
     width: 100%;
     height: 30%;
     border-bottom: 1px solid #ddd;
     text-align: center;
     padding: 10px;
     color: #fff;
     background-color: #FF8F83;
 }

 .pay-method .content {
     padding: 0;
     height: 70%;
     display: flex;
     align-items: center;
     text-align: center;
 }

 .button-list {
     width: 100%;
 }

 .button-list div {
     display: inline-block;
     padding: 8px;
     width: 40%;
     height: 30%;
     margin: 5px;
     border: 1px solid #ddd;
     color: #fff;
     background-color: #997C7A;
 }

 .content-detail {
     color: #777;
     padding: 15px;
     padding-top: 0px;
 }


 .save {
     color: #666;
     font-size: 15px;
     height: 54px;
     padding: 10px;
     padding-left: 15px;
     text-align: left;
     background-color: #eff1f4;
     border-top: 1px solid #ddd;
 }

 .save label {
     font-weight: 200;
 }

 .save #pay-method-save {
     width: 17px;
     height: 17px;
     position: relative;
     top: 3px;
 }

 /** 결제수단 끝 */

 /** 적립 혜택 시작 */
 .save-point {
     padding: 25px;
     padding-bottom: 15px;
 }

 .save-point .save-content {
     margin: 5px;
 }

 .save-point .save-con1 {
     font-size: 15px;
     width: 100;
     display: flex;
 }

 .save-point .save-con1 h5 {
     width: 50%;
     margin: 0;

 }

 .save-point .save-con1 span {
     width: 50%;
     text-align: right;
 }

 .save-point .save-con2 {
     font-size: 15px;
     width: 100;
     display: flex;
     margin-top: 8px;
 }

 .save-point .save-con2 h5 {
     width: 50%;
     margin: 0;

 }

 .save-point .save-con2 span {
     width: 50%;
     text-align: right;
 }

 .save-point .save-con3 {
     font-size: 15px;
     width: 100;
     display: flex;
     margin-top: 8px;
 }

 .save-point .save-con3 h5 {
     width: 50%;
     margin: 0;

 }

 .save-point .save-con3 span {
     width: 50%;
     text-align: right;
 }

 .save-price {
     height: 54px;
     padding: 15px 25px;
     ;
     color: #ff6261;
     border-top: 1px solid #ddd;
     background-color: #eff1f4;
 }

 .save-price .head {
     font-size: 16px;
     font-weight: bold;
     display: inline;
 }

 .save-price .total-price {
     float: right;
     font-size: 16px;
 }

 /** 적립 혜택 끝 */

 /** 하단 영역 */
 .order {
     height: 90px;
     padding: 15px;
     text-align: center;
 }

 .order .btn {
     width: 100%;
     height: 80%;
     font-size: 17px;
     font-weight: bold;
     color: #fff;
     background-color: #FF8F83;
 }

 .order .btn:hover {
     background-color: #ff6261;
 }

 .order-info {
     color: #777;
     padding: 0;
     padding-right: 25px;
 }