/** 서치탭 검색 인풋 부분 */

.community_md_content {

	padding: 35px 0px 0px 0px;
	text-aligin: left;
}

.community_md_content input {
	width: 60%;
	margin-left: 5px;
	height: 32px;
}


.community_md_content button {
	position: relative;
	bottom: 2px;
}

/** 서치탭 옵션입니다. */

#comModal #searchicon {
	color: #FF8F83;
	font-size: 24px;
	position:relative;
	top: 4px;
}

.cmubutton-close {
	margin: 10px 10px 0px 0px;
}


#cmuModal {
	padding-top: 50%;
}

.community_md_footer {
	margin-bottom: 30px;
}

.community_md_content hr {
	margin: 10px 0px 10px 0px;
}

.community_md_content a {
	color: #777;
}

.community_md_content a:hover {
	color: #ff8f83;
}