.footer-content {
	width: 90%;
	margin: auto;
	margin-top: 13px;
}

.modal.in .footer-dialog {
	position: relative;
	top: 195px;
	transform: translateY(-170px);
}

.footer-header {
	min-height: 70px;
	padding-top: 15px;
	border-bottom: none;
}

.footer-header img {
	width: 200px;
	float: left;
}
/** 로그인/회원가입 버튼 */
.footer-body>.footer-buttons {
	float: right;
	margin-right: 10px;
}

.footer-buttons>.btn-footer {
	float: left;
	margin: 3px;
}

/** 바디영역 */
.footer-category {
	border: 1px solid #ff6261;
	background: #ff6261;
	padding: 10px;
	padding-left: 25px;
	color: white;
	text-align: left;
	width: 100%;
	margin-top: 41px;
	margin-bottom: 15px;
}

.footer-body {
	max-height: calc(100vh-210px);
	min-height: 200px;
	padding: 0px;
}

.fm-heading {
	padding-left: 25px;
}

.fm-heading a {
	color: #333;
}

.fm-heading h4 {
	text-align: left;
	font-size: 16px;
	margin: 0px;
}

.fm-body a {
	display: block;
}

.fm-default {
	margin: auto;
	width: 96%;
}

.fm-body {
	text-align: left;
	padding-left: 40px;
}

.fm-toggle a {
	display: block;
}

.fm-default>.fm-heading {
	border: 1px solid #ffc7c1;
}

/** 아코디언 클릭이벤트시 화살표 transform 회전 */
.rotate1 {
	-webkit-transform: rotate(180deg);
}

.icon-rotate11 {
	-webkit-transition-duration: 0.5s;
}

.rotate2 {
	-webkit-transform: rotate(180deg);
}

.icon-rotate22 {
	-webkit-transition-duration: 0.5s;
}

.rotate3 {
	-webkit-transform: rotate(180deg);
}

.icon-rotate33 {
	-webkit-transition-duration: 0.5s;
}

.rotate4 {
	-webkit-transform: rotate(180deg);
}

.icon-rotate44 {
	-webkit-transition-duration: 0.5s;
}

.rotate5 {
	-webkit-transform: rotate(180deg);
}

.icon-rotate55 {
	-webkit-transition-duration: 0.5s;
}

/** 하단영역 */
.fm-footer {
	border-top: none;
	padding-bottom: 10px;
}

.box1 {
	color: black;
}

.box2 {
	color: red;
}