html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

hr {
    margin: 0;
}

.container {
    padding: 0;
    width: auto;
}

.header {
    position: fixed;
    background: white;
    width: 100%;
    z-index: 100;
}

#logo img {
    width: 250px;
}

#cart {
    font-size: 25px;
    color: black;
    position: absolute;
    right: 20px;
    top: 15px;
}

#cart h1 {
    font-size: 10px;
    position: relative;
    right: 5px;
    bottom: 20px;
}

.badge {
    background: red;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    position: absolute;
    right: 25px;
    top: 17px;
}

.badge p {
    font-size: 7px;
    position: absolute;
    top: 3px;
    right: 3px;
}

.category {
    margin-bottom: 0;
    white-space: nowrap;
    overflow-x: scroll;
    list-style: none;
    padding-inline-start: 0px;
}

.category::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

.category li {
    color: black;
    margin: 0 5px;
}

.category a {
    display: inline-block;
    padding: 5px 8px;
}

.category a:hover {
    background: #d5d5d5;
    text-decoration: none;
}

.content {
    padding-top: 90px;
    width: auto;
}

.page-title {
    vertical-align: middle;
    width: auto;
}

.page-title a {
    display: block;
    float: left;
    padding-top: 3px;
    position: relative;
}

.page-title>h4 {
    padding-top: 5px;
    margin-top: 5px;
    text-align: center;
    padding-right: 35px;
}

.content ul {
    padding-left: 0;
}

#back {
    position: relative;
    left: 5px;
    bottom: 35px;
}

.footer {
    width: auto;
    padding-top: 10px;
}

.navbar span {
    display: inline-block;
    font-size: 25px;
    color: black;
    padding: 5px;
    padding-top: 10px;
}

.btmbar-nav {
    background: white;
    padding: 10px 0;
    text-align: center;
}

.navbar p {
    font-size: 15px;
    /*position: relative;*/
}

.navbar span:hover {
    background: #d5d5d5d5;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.etc {
    padding-bottom: 5px;
    text-align: center;
}

.etc>a {
    padding-right: 5px;
    border-right: 1px solid #111;
    color: #999;
}

.etc>a:hover {
    color: #337AB7;
    text-decoration: none;
}

.etc>a:last-child {
    border-right: none;
}

address {
    background-color: #e5e6e7;
    text-align: center;
    line-height: 15px;
    margin-bottom: 10px;
    box-sizing: none;
}

address>p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
}

.btn {
    background-color: #ff8f83;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-inverse {
    background-color: #fff;
    color: #ff8f83;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid #ff8f83;
}