 html,
 body {
     padding: 0;
     margin: 0;
 }

 .img-fade {
     -webkit-transform: rotate(180deg);
     -webkit-transition-duration: 1s;
 }


 .required {
     color: #DD5850;
 }

 hr {
     width: 100%;
 }


 #title {
     top: 0;
     left: 0;
     right: 0;
     height: 58px;
     background-color: #4a5164;
     color: #eee;
 }

 #title h4 {
     margin: 0 0;
     padding-top: 17px;
 }

 .panel-group .panel {
     height: 100%;
 }

 .panel .panel-title a {
     height: 54px;
     padding-top: 17.5px;
 }

 .panel-heading {
     padding: 0;
 }

 .panel-heading a {
     padding: 10px 15px;
     display: block;
     text-decoration: none;
 }

 .content {
     padding-bottom: 50px;
 }

 .panel-body {
     margin: 0;
     padding: 0;

 }

 .panel-body li {
     width: 50%;
 }

 .panel-body a {
     text-align: center;
     font-weight: bold;
 }

 .nav-tabs>li>a {
     margin: 0;
 }

 .name #delivery-info-name {
     display: block;
     padding: 20px 15px;
     font-size: 18px;
 }

 .recent .address {
     padding: 0 15px;
     font-size: 16px;
 }

 .recent .phone {
     padding: 0 15px;
     font-size: 16px;
     margin-bottom: 20px;
 }

 .side-right #recent-address-list {
     display: inline;
     width: 90px;
     height: 36px;
     float: right;
     position: relative;
     bottom: 124px;
     right: 15px;
     background-color: #ffffff;
     border: 1px solid #ddd;
 }

 .form-group {
     text-align: center;
     margin: auto;
 }

 .form-group #selbox {
     width: 90%;
     height: 40px;
     position: relative;
     bottom: 10px;
     border: 1px solid #ddd;
     background-color: #fff;
     padding-left: 5px;
 }

 .form-group #selboxDirect {
     width: 90%;
     height: 60px;
     border: 1px solid #ddd;
     margin-bottom: 10px;

 }

 .same-addr {
     padding-left: 15px;
     padding-right: 15px;
     padding-top: 10px;
     font-size: 16px;
 }

 .save {
     position: relative;
 }

 input[type=radio] {
     display: none;
 }

 input[type=radio]+label {
     cursor: pointer;
     padding-left: 10px;
 }

 input[type=radio]+label:before {
     content: "";
     width: 18px;
     height: 18px;
     margin-right: 10px;
     position: absolute;
     left: 0;
     background-color: #f7f7f7;
     border-radius: 50%;
     box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
 }

 input[type=radio]:checked+label:before {
     content: "\2714";
     text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
     font-size: 18px;
     font-weight: 600;
     color: #fff;
     background: #DD5850;
     text-align: center;
 }



 .new-addr {
     padding-left: 15px;
     padding-right: 15px;
     margin-top: 15px;
 }

 .na-name .receiver {
     display: inline;
     font-weight: lighter;
     color: #777;
 }

 .na-name .required {
     float: left;
 }

 .na-name #delivery-name {
     width: 100%;
     height: 30px;
     margin-top: 5px;
     border: 1px solid #ddd;
 }

 .na-address-head {
     margin-top: 10px;
 }

 .na-address .receiver {
     display: inline;
     font-weight: lighter;
     color: #777;
 }

 .na-address .required {
     float: left;
 }

 .na-address-body #delivery-zipcode {
     width: auto;
     height: 30px;
     margin-top: 5px;
     border: 1px solid #ddd;
 }

 input::placeholder {
     color: #ddd;
     font-size: 12px;
     padding-left: 5px;
 }

 .zipcode .btn {
     height: 30px;
     margin-bottom: 4px;
     font-size: 12px;
     color: #777;
 }

 .na-address-body #delivery-address1 {
     width: 100%;
     height: 30px;
     margin-top: 8px;
     border: 1px solid #ddd;
 }

 .na-address-body #delivery-address2 {
     width: 100%;
     height: 30px;
     margin-top: 10px;
     border: 1px solid #ddd;
 }

 .na-address-body .addInfo {
     margin-top: 8px;
     color: #777;
 }

 .panel-body .discount {
     padding: 20px 15px;
 }

 .na-address .na-phone {
     margin-top: 10px;
 }

 .na-phone #delivery-phone {
     width: 100%;
     height: 30px;
     margin-top: 8px;
     border: 1px solid #ddd;
 }

 .na-email {
     margin-top: 10px;
 }

 .na-email #delivery-email {
     width: 100%;
     height: 30px;
     margin-top: 8px;
     border: 1px solid #ddd;
 }

 .form-group2 {
     text-align: center;
     margin: auto;
 }

 .form-group2 #selbox2 {
     width: 90%;
     height: 40px;
     position: relative;
     bottom: 10px;
     border: 1px solid #ddd;
     background-color: #fff;
     padding-left: 5px;
 }

 .form-group2 #selboxDirect2 {
     width: 90%;
     height: 60px;
     border: 1px solid #ddd;
     margin-bottom: 10px;
 }

 .addr-save {
     border-top: 1px solid #eee;
     height: 50px;
 }

 .addr-save input {
     margin-left: 15px;
     width: 18px;
     height: 18px;
     position: relative;
     top: 10px;
 }

 .addr-save span {
     margin-left: 3px;
     position: relative;
     top: 5px;
 }

 .prd-info .prd-box {
     display: flex;
     padding-top: 20px;
     padding-left: 15px;
 }

 .prd-info .thumbnail {
     height: 85px;
 }

 .prd-info #prd-title {
     margin: auto;
     width: 92%;
 }

 .prd-info a {
     color: #000;
 }

 .prd-box #prd-del {
     margin-right: 15px;
     width: 24px;
     height: 24px;
 }

 .prd-box .prd-li {
     padding: 0;
     margin-top: 5px;
     padding-left: 10px;
 }

 .prd-info .prd-foot {
     width: 92%;
     height: 40px;
     color: #999;
     font-weight: bold;
     background-color: #f8f9fa;
     border: 1px solid #fff;
     margin-left: 15px;
     margin-right: 15px;
     margin-bottom: 10px;
     padding-top: 10px;
     padding-left: 10px;
     padding-right: 10px;
 }

 .prd-info .pt-right {
     float: right;
     color: #508bed;
     font-size: 16px;
 }

 .discount .head {
     font-size: 15px;
 }

 .discount .coupon {
     float: right;
 }

 .discount .discount-re {
     clear: both;
     margin-top: 10px;
 }

 .discount-re .discount-count {
     float: right;
     margin-right: 10px;
     padding-top: 5px;
 }

 .discount-re .btn {
     float: right;

 }

 .clear:after {
     content: '';
     display: block;
     float: none;
     clear: both;
 }

 .total {
     height: 54px;
     padding: 15px;
     border-top: 1px solid #ddd;
     background-color: #eff1f4;
 }

 .total .head {
     font-size: 16px;
     font-weight: bold;
     display: inline;
 }

 .total .total-sum {
     float: right;
     font-size: 16px;
     color: #508bed;
 }

 /** 결제 정보  */

 .pay-info {
     padding: 30px;
     padding-bottom: 15px;
 }

 .pay-info .pay-content {

     margin: 5px;
 }

 .pay-info .pay-con1 {
     font-size: 15px;
     width: 100;
     display: flex;
 }

 .pay-info .pay-con1 h5 {
     width: 50%;
     margin: 0;

 }

 .pay-info .pay-con1 span {
     width: 50%;
     text-align: right;
 }

 .pay-info .pay-con2 {
     font-size: 15px;
     width: 100;
     display: flex;
     margin-top: 8px;
 }

 .pay-info .pay-con2 h5 {
     width: 50%;
     margin: 0;
 }

 .pay-info .pay-con2 span {
     width: 50%;
     text-align: right;
 }

 .pay-info .pay-con3 {
     font-size: 15px;
     width: 100;
     display: flex;
     margin-top: 8px;
 }

 .pay-info .pay-con3 h5 {
     width: 50%;
     margin: 0;

 }

 .pay-info .pay-con3 span {
     width: 50%;
     text-align: right;
 }

 .pay-info .pay-price {
     width: 100;
     height: 40px;
     padding: 10px;
     margin-top: 8px;
     margin-left: -10px;
     margin-right: -10px;
     background-color: #eff1f4;
     display: flex;
 }

 .pay-info .pay-price h4 {
     font-size: 16px;
     font-weight: bold;
     width: 50%;
     margin: 0;

 }

 .pay-info .pay-price strong {
     width: 50%;
     text-align: right;
 }

 /** // 결제 정보 */

 .pay-box {
     padding: 15px;
 }

 .pay-method {
     padding: 0;
     margin: 0;
     height: 160px;
     border: 1px solid #ddd;
 }

 .panel-body .pay-box li {
     width: 100%;
     height: 30%;
     border-bottom: 1px solid #ddd;
     text-align: center;
     padding: 10px;
     color: #fff;
     background-color: #dd5850;
 }

 .pay-method .content {
     padding: 0;
     height: 70%;
     display: flex;
     align-items: center;
     text-align: center;
 }

 .button-list {
     width: 100%;
 }

 .button-list div {
     display: inline-block;
     padding: 8px;
     width: 40%;
     height: 30%;
     margin: 5px;
     border: 1px solid #ddd;
     color: #fff;
     background-color: #997C7A;
 }

 .content-detail {
     color: #777;
     padding: 15px;
     padding-top: 0px;
 }

 .save {
     color: #666;
     font-size: 15px;
     height: 54px;
     padding: 10px;
     padding-left: 15px;
     text-align: left;
     background-color: #eff1f4;
     border-top: 1px solid #ddd;
 }

 .save label {
     font-weight: 200;
 }

 .save #pay-method-save {
     width: 17px;
     height: 17px;
     position: relative;
     top: 3px;
 }

 .save-point {
     padding: 25px;
     padding-bottom: 15px;
 }

 .save-point .save-content {
     margin: 5px;
 }

 .save-point .save-con1 {
     font-size: 15px;
     width: 100;
     display: flex;
 }

 .save-point .save-con1 h5 {
     width: 50%;
     margin: 0;

 }

 .save-point .save-con1 span {
     width: 50%;
     text-align: right;
 }

 .save-point .save-con2 {
     font-size: 15px;
     width: 100;
     display: flex;
     margin-top: 8px;
 }

 .save-point .save-con2 h5 {
     width: 50%;
     margin: 0;

 }

 .save-point .save-con2 span {
     width: 50%;
     text-align: right;
 }

 .save-point .save-con3 {
     font-size: 15px;
     width: 100;
     display: flex;
     margin-top: 8px;
 }

 .save-point .save-con3 h5 {
     width: 50%;
     margin: 0;

 }

 .save-point .save-con3 span {
     width: 50%;
     text-align: right;
 }

 .save-price {
     height: 54px;
     padding: 15px;
     border-top: 1px solid #ddd;
     background-color: #eff1f4;
 }

 .save-price .head {
     font-size: 16px;
     font-weight: bold;
     display: inline;
 }

 .save-price .total-price {
     float: right;
     font-size: 16px;
     color: #508bed;
 }

 .order {
     height: 90px;
     padding: 15px;
     text-align: center;
 }

 .order .btn {
     width: 100%;
     height: 80%;
     font-size: 17px;
     font-weight: bold;
     color: #fff;
     background-color: #4a5164;
 }

 .order-info {
     color: #777;
     padding: 0;
     padding-right: 25px;
 }