@charset "UTF-8";
.wriinfo {
	border: 1px solid #FFc7c1;
	background: #FFc7c1;
	width: 100%;
	margin: 10px 0px;
}

.articletitle {
	font-size: 16px;
	padding-top: 7px;
	padding-left: 15px;
}

.articlewriter {
	text-align: right;
	margin-top: 5px;
	margin-right: 10px;
}

.subject {
	margin: 20px 0px;
}

.subject b {
	display: inline-block;
	margin-top: 10px;
}


.list-subject {
	border: 1px solid #ffc7c1;
	background-color: #ffc7c1;
}

.list-subject b {
	display: inline-block;
	padding: 10px 10px;
}

.small {
	display: inline-block;
	padding-top: 25px;
	padding-bottom: 5px;
	padding-left: 15px;
}

/** 댓글창div 전체 */
.memory {
	display: inline-block;
	width: 68%;
}

.comment_area {
	display: block;
	margin: auto;
	width: 95%;
	min-height: 150px;
	resize: none;
	margin-top: 10px;
	margin-bottom: 15px;
	border: solid 1px #8C8C8C;
	border-radius: 5px;
	padding-left: 10px;
}

.comment-write {
	margin-top: 20px;
}

.info {
	display: inline-block;
}

.info-name {
	display: inline-block;
	margin-left: 20px;
}

.info-pass {
	display: inline-block;
	margin-left: 10px;
}

.information1 {
	width: 70px;
	margin-right: 20px;
	border: solid 1px #8C8C8C;
	border-radius: 2px;
	padding-left: 10px;
}

.information2 {
	width: 100px;
	border: solid 1px #8C8C8C;
	border-radius: 2px;
	padding-left: 10px;
}

.enter {
	display: block;
	float: right;
	margin-right: 15px;
	margin-bottom: 30px;
	border-bottom: 1px solid #eee;
}

.next {
	border-top: 1px solid #eee;
	padding-left: 10px;
	padding-top: 8px;
}

.solid {
	border: solid 1px #eee;
	margin-bottom: 50px;
}





.customer_pass {
	margin: auto;
	display: none;
	width: 90%;
	position: absolute;
	z-index: 1;
	border: 1px solid #ffc7c1;
	background: #ffc7c1;
	text-align: center;
	margin: auto;
	padding: 15px 0px;
}

.pass_label {
	padding-top: 15px;
	padding-bottom: 15px;
}


.btn-del {
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.btn-edit {
	float: right;
	margin: 10px;
}

.cannot {
	display: block;
	width: 100%;
	border: 1px solid #ffc7c1;
	background: #ffc7c1;
	padding: 10px;
	color: white;
}

.nai {
	padding: 15px;
	margin-bottom: 50px;
}

.list {
	margin: 10px 10px;
}

.solidhr {
	margin: 0px;
}

/** 동적 생성된 textaread */
.editForm {
	width: 75%;
}

.all {
	width: 100%;
}

.cmtcontent {
	width: 65%;
	margin-right: 10px;
	float: left;
	padding-left: 18px;
}

.span {
	padding-bottom: 25px;
	width: auto;
	word-break: break-all;
}

.btn-delar, .btn-editar {
	margin-right: 10px;
}

.comment-nai {
	min-height: 100px;
}

.arbuttons {
	float: right;
}

#editTextarea {
	width: 120%;
	overflow-x: hidden;
	overflow-y: auto;
}

.qnagoods {
	border: 1px solid #ff6261;
	margin: 10px;
	padding: 10px 10px;
}

.photo {
	width: 25%;
	margin-right: 10px;
}

.goodsname {
	display: inline-block;
	overflow: hidden;
	font-size: 12px;
	vertical-align: middle;
}