@charset "UTF-8";
.subject {
	margin: 20px 15px;
}

.subject b {
	display: inline-block;
	margin-top: 10px;
}

.nai {
	text-align: center;
	font-size: 17px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.list {
	margin: 10px 10px;
}

.list-subject {
	border: 1px solid #ffc7c1;
	background-color: #ffc7c1;
}

.list-subject b {
	display: inline-block;
	padding: 10px 10px;
}

.small {
	display: inline-block;
	padding-top: 25px;
	padding-bottom: 5px;
	padding-left: 15px;
}

.span {
	display: inline-block;
	padding-left: 20px;
}

.button2 {
	display: inline-block;
	float: right;
	margin-right: 15px;
	margin-top: 60px;
}
/** 하나의 댓글 전체 */
.comment_nai {
	border-bottom: 1px solid #red;
}


/** 댓글창div 전체 */
.memory {
	display: inline-block;
	width: 68%;
}

.comment_area {
	display: block;
	margin: auto;
	width: 95%;
	min-height: 150px;
	resize: none;
	margin-top: 20px;
	margin-bottom: 15px;
	border: solid 1px #8C8C8C;
	border-radius: 5px;
	padding-left: 10px;
}

.comment-write {
	margin-top: 20px;
}

.info {
	display: inline-block;
}

.info-name {
	display: inline-block;
	margin-left: 20px;
}

.info-pass {
	display: inline-block;
	margin-left: 10px;
}

.information1 {
	width: 70px;
	margin-right: 20px;
	border: solid 1px #8C8C8C;
	border-radius: 2px;
	padding-left: 10px;
}

.information2 {
	width: 100px;
	border: solid 1px #8C8C8C;
	border-radius: 2px;
	padding-left: 10px;
}

.enter {
	display: block;
	float: right;
	margin-right: 15px;
	margin-bottom: 30px;
	border-bottom: 1px solid #eee;
}

.next {
	border-top: 1px solid #eee;
	padding-left: 10px;
	padding-top: 8px;
}

.solid {
	border: solid 1px #eee;
	margin-bottom: 50px;
}
/** 원래있던 댓글 */

/** 동적 생성된 textaread */
.comment_edit {
	width: 100%;
	min-height: 50px;
}

.insert {
	
}

/** 비밀번호 입력 모달 */
.content {
	position: relative;
}

.customer_pass {
	margin: auto;
	display: none;
	width: 90%;
	position: absolute;
	z-index: 1;
	border: 1px solid #ffc7c1;
	background: #ffc7c1;
	text-align: center;
	margin: auto;
	padding: 15px 0px;
}

.pass_label {
	padding-top: 15px;
	padding-bottom: 15px;
}

/** 글 수정삭제 버튼 */
.editbuttons {
	float: right;
}

.cannot {
	text-align: center;
	border: 1px solid #FF8F83;
	background: #FF8F83;
	padding: 10px 10px;
	color: white;
	margin-bottom: 30px;
	width: 100%;
}
