.btn2:hover {
	background: #ff6261;
	color: #fff;
}

#list {
	list-style: none;
	margin-bottom: 0;
}

.cart-box {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.cart-box:last-child {
	border: none;
}

.cart-size {
	float: left;
}

.cart-img {
	float: left;
	display: block;
	margin: 0px 5px 5px 5px;
	width: 100px;
	border: 1px solid #ffc7c1;
	width: 100px;
}

.word {
	padding-top: 10px;
	height: 120px;
}

.word p {
	font-size: 13px;
	margin-bottom: 0;
}

.name {
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	width:60%;
	overflow: hidden;
	color: #000;
}

.word span {
	font-size: 12px;
}

.point-icon {
	font-size: 11px;
	color: #fff;
	width: 17px;
	text-align: center;
	display: inline-block;
	margin-bottom: 10px;
	background: #b88cc5;
	display: inline-block;
	border-radius: 2px;
	display: inline-block;
}

.word-btn {
	margin-top: 10px;
	padding-left: 120px;
}

.word-btn .count {
	padding: 0;
	border: none;
}

.option {
	padding-left: 15px;
}

.count-label {
	vertical-align: -1px;
	width: 40px;
	text-align: right;
}

.change {
	height: 29px;
	vertical-align: -1.5px;
}

.clear {
	display: block;
	content: '';
	float: none;
	clear: both;
}

.word-botm {
	padding: 10px 15px;
}

.word-botm .btn2 {
	float: right;
	position: relative;
	bottom: 10px;
}

.col-xs-6 {
	padding: 0;
	margin-top: 20px;
}

.content .container {
	width: 96%;
	margin: auto;
}

.panel-title6 {
	padding: 10px 8px;
	margin-top: 20px;
	font-size: 16px;
	background: #FF6261;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.panel-title6 span {
	color: #fff;
}

.panel-header2 {
	padding: 10px 8px;
	font-size: 16px;
	background: #ffc7c1;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.panel-body2 {
	padding: 0;
	border: 1px solid #ffc7c1;
}

.selectbtn {
	border-bottom: 1px solid #ffc7c1;
	border-left: 1px solid #ffc7c1;
	border-right: 1px solid #ffc7c1;
	width: auto;
	padding: 16px 30px;
}

.table {
	margin: auto;
	margin-bottom: 15px;
}

.table thead {
	border-left: 1px solid #FF6261;
	border-right: 1px solid #FF6261;
	background-color: #FF6261;
	color: #fff;
	font-weight: bold;
}

.table-header {
	border-left: 1px solid #ff6261;
}

.table-header2 {
	border-right: 1px solid #ff6261;
}

tr {
	border: 1px solid #ffc7c1;
}

td {
	border-bottom: 1px solid #ffc7c1;
}

.td-mny {
	text-align: right;
}

.pay {
	margin: auto;
}

.pay .btn2 {
	padding: 10px 15px;
	width: 49%;
	margin: auto;
	margin-bottom: 50px;
}

.pay a {
	text-decoration: none;
}

button {
	background: #fff;
	border: 1px solid #777;
}

#myModal2 {
	padding-top: 50%;
}

.cart-modal {
	padding: 10px;
}

.modal-footer2 .btn2 {
	width: 65px;
	height: 34px;
	float: right;
	margin-left: 5px;
}

.modal-header2 {
	height: 50px;
}

.modal-body2 {
	height: 50px;
}

.modal-footer2 {
	height: 40px;
}