@charset "UTF-8";
.align {
	width: 96%;
	font-weight: bold;
	text-align: center;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 15px;
	color: white;
	border: #ff6261;
	background: #ff6261;
}

.mycart {
	border: 1px solid #ffc7c1;
	width: 96%;
	margin: auto;
	margin-bottom: 15px;
	list-style: none;
}

.mygoods {
	padding-top: 20px;
}

.mygoods:hover {
	cursor: pointer;
}

.chkbox {
	float: left;
	padding-left: 10px;
}

.mygoods a {
	display: block;
	float: left;
	margin: 5px;
	height: auto;
	padding-left: 5px;
}

.word {
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 62%;
	padding-left: 10px;
	padding-top: 5px;
}

.word>b {
	overflow: hidden;
	text-overflow: ellipsis;
}

/** 이미지 */
.cart-img {
	width: 75px;
	border: 1px solid #ffc7c1;
}

.word span {
	border: 1px solid #FFD9FA;
	background-color: #FFD9FA;
}

/** 삭제/장바구니담기 버튼 */
.btns {
	margin-left: 10px;
	margin-top: 50px;
	margin-bottom: 20px;
}

/** 전체선택/선선택삭제 */
.selectbtn {
	border: 1px solid #ffc7c1;
	width: 96%;
	padding: 10px 15px;
	margin: auto;
	margin-top: 20px;
}

/** 장바구니가기 버튼 */
.gocart {
	background: #FF8F83;
	border: 1px solid #FF8F83;
	color: white;
	font-size: 14px;
}

/** 삭제버튼 두개 */
.border-botton {
	border-radius: 3px;
	margin-right: 5px;
}

/** 전체상품주문 */
.lastbtn {
	text-align: center;
	padding-bottom: 20px;
}

/** 전체상품 버튼 */
.btn2 {
	width: 90%;
	height: 40px;
	margin-bottom: 50px;
	margin-top: 15px;
}

.btn2:hover {
	font-size: 15px;
	color: white;
}
/** 모달창 CSS */

#cart_in {
	margin: auto;
	width: 90%;
	padding: 20px 0px;
	z-index: 1;
	border: 1px solid #ffc7c1;
	border-radius: 5px;
	background: #ffc7c1;
	text-align: center;
	position: fixed;
	left: 4%;
	margin-left: -20%;
	top: 35%;
	margin-top: -150px;
	display: none;
}

.qty_label {
	padding-top: 15px;
	padding-bottom: 15px;
}

.word-btn {
	margin-top: 10px;
	padding-left: 10px;
}

.word-btn .count {
	padding: 0;
	border: none;
}

.count-label {
	vertical-align: -1px;
	width: 40px;
	text-align: right;
}

.change {
	height: 29px;
	vertical-align: -1.5px;
}