@charset "UTF-8";
.table {
	width: 96%;
	margin: auto;
	border-top: 1px solid #ffc7c1;
	margin-top: 20px;
	margin-bottom: 50px;
}

.table tr {
	line-height: 30px;
	border: 1px solid #ffc7c1;
}

.table th {
	width: 35%;
}

.table>tbody>tr>th, .table>tbody>tr>td {
	border-top: 1px solid #ffc7c1;
	line-height: 30px;
}