@charset "UTF-8";

.notice {
	margin-top: 20px;
}

.table span {
	font-size: 11px;
}

.table td {
	height: 70px;
}

.table .subject {
	vertical-align: middle;
}

.table .subjectok {
	vertical-align: middle;
}

.searchmenu {
	padding-bottom: 15px;
	margin: auto;
	text-align: center;
}

.pass_label {
	padding-top: 15px;
	padding-bottom: 15px;
}


.selectmenu {
	width: 70px;
	height: 27px;
	margin-left: 10px;
	border: 1px solid #ff8f83;
	border-radius: 3px;
}

/** 검색 input */
.keyword {
	width: 170px;
	margin:auto;
	border: 1px solid;
	color: #777;
	margin-left: 5px;
	border: 1px solid #ff8f83;
	border-radius: 3px;
	height: 27px;
}

/** 검색버튼 */
.btn-search {
	margin-left: 5px;
}

.subject {
	text-decoration: none;
	color: #777;
}

.subjectok {
	text-decoration: none;
	color: #777;
}

.subject:hover {
	text-decoration: none;
	color: #777;
}
.subjectok:hover {
	text-decoration: none;
	color: #777;
}

.nowpage {
	border: 1px solid #ffc7c1;
	background: #ffc7c1;
	padding: 6px 10px;
	color: #ff6261;
}

.otherpage {
	border: 1px solid #ffc7c1;
	background: #ffc7c1;
	padding: 6px 10px;
	color: white;
}

.otherpage:hover {
	text-decoration: none;
	color: #333;
}

.pagenumber {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 50px;
}

.prevok {
	border: 1px solid #ffc7c1;
	padding: 6px 10px;
	color: #ff6261;
	text-decoration: none;
}


.prevno {
	border: 1px solid #ffc7c1;
	padding: 6px 10px;
	color: #ffc7c1;
	text-decoration: none;
}

.nextok {
	border: 1px solid #ffc7c1;
	padding: 6px 10px;
	color: #ff6261;
	text-decoration: none;
}

.nextno {
	border: 1px solid #ffc7c1;
	padding: 6px 10px;
	color: #ffc7c1;
	text-decoration: none;
}
.table>tbody>tr>td.subject {
	padding-left: 20px;
	border-top: none;
	border-bottom: 1px solid #eee;
}

.table>tbody>tr>td.subjectok {
	padding-left: 20px;
	border-top: none;
	border-bottom: 1px solid #eee;
}

.customer_pass {
	position: fixed;
	left: 37%;
	margin-left: -20%;
	top: 55%;
	margin-top: -150px;
	display: none;
	border: 1px solid #ffc7c1;
	border-radius: 10px;
	background: #ffc7c1;
	text-align: center;
	padding: 20px 20px;
}

/** 글쓰기 버튼 */
.btn-list {
	float: right;
	margin-right: 15px;
}

.hr {
	margin-bottom: 0px;

}

.prevok:hover {
	text-decoration:none;
	color: #FF6261;
}

.nextok:hover {
	text-decoration: none;
		color: #FF6261;
}